# Server
PORT=4718
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5445/ostora?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6345
REDIS_PASSWORD=
REDIS_DB=0

# Kafka
KAFKA_BROKER=localhost:9095



# CORS
CORS_ORIGIN=http://localhost:3000

